<script type="text/javascript" src="/dist/javascripts/account/applicationRecord_control.min.js?v=d68696af1f"></script> 
<div class="lmybody">
	<div class="lmy_background">
		<div class="appMain maintop">
			<div class="processIntro"> 
				<div class="iconview left">
					<img src="/dist/images/account/l_apply.png?v=a9e1f9125f">
					<div class="icondesp">借款人申请</div>
				</div>
				<div class="iconarrow left">
					<img src="/dist/images/account/l_arrow.png?v=32f6ee05d8"> 
				</div>
				<div class="iconview left">
					<img src="/dist/images/account/l_verify.png?v=bbcf216b60">
					<div class="icondesp">风控审核</div>
				</div>
				<div class="iconarrow left">
					<img src="/dist/images/account/l_arrow.png?v=32f6ee05d8"> 
				</div>  
				<div class="iconview left">
					<img src="/dist/images/account/l_bid.png?v=63d7f9a074">
					<div class="icondesp">出借人投标</div>
				</div>
				<div class="iconarrow left">
					<img src="/dist/images/account/l_arrow.png?v=32f6ee05d8"> 
				</div>  
				<div class="iconview left">
					<img src="/dist/images/account/l_borrow.png?v=8b98407ce0">
					<div class="icondesp">获得借款</div>
				</div>
				<div class="iconarrow left">
					<img src="/dist/images/account/l_arrow.png?v=32f6ee05d8"> 
				</div>  
				<div class="iconview left">
					<img src="/dist/images/account/l_pay.png?v=edcc205509">
					<div class="icondesp">借款人还款</div>
				</div>    
			</div>
		</div>
		<div class="appMain appMainCenter">
			<div class="investListTable">
				<table>
					<thead>
						<tr>
							<td style="width:15%;">姓名</td>
							<td style="width:15%;">手机号码</td>
							<td style="width:15%;">借款金额(万元)</td>
							<td style="width:15%;">所在城市</td>
							<td style="width:25%;">申请时间</td>  
							<td style="width:15%;">状态</td> 
						</tr>
					</thead>
					<tbody id="applicationList">
						<!-- <tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr> 
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr>
						<tr>
							<td>杨**</td>
							<td>158*****111</td>
							<td>10</td>
							<td>乌龙木齐市</td>
							<td>2016-02-04 13:11:11</td>
							<td>审核通过</td> 
						</tr> -->
					</tbody>
					<!-- <tbody>
						<tr class="datanull">
							<td colspan="9">
								<div class="contentNullImg"></div>
								<div class="contentNullText">暂无申请记录</div>
							</td>
						</tr>
					</tbody>  -->
				</table>
			</div>
			<div class="lmy_investPage">
				<div id="applicationRecordPage"></div>
			</div>
		</div>
	</div>
</div>