<script type="text/javascript" src="/dist/javascripts/account/loanView_control.min.js?v=80a7fa4108"></script> 
<div class="lmybody">
	<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
	<div class="lmy_investBaseInfo lmy_background">
		<div class="baseinfo">
			<p class="value marginTop">￥<span id='totalBorrowing'></span></p>
			<p class="text">借款总额</p>
			<p class="value lmy_textblack">￥<span id='totalPayout'></span></p>
			<p class="text">已还总额</p>
		</div>
		<div class="baseinfo">
			<p class="value marginTop">￥<span id='dhBj'></span></p>
			<p class="text">待还本金</p>
			<p class="value lmy_textblack">￥<span id='yhBj'></span></p>
			<p class="text">已还本金</p>
		</div>
		<div class="baseinfo">
			<p class="value marginTop">￥<span id="dhLx"></span></p>
			<p class="text">待还利息</p> 
			<p class="value lmy_textblack">￥<span id='yhLx'></span></p>
			<p class="text">已还利息</p>
		</div>
	</div> 
	<div class="lmy_investList lmy_background">
		<!-- <div class="queryCon clearfix">
			<span class="queryType">还款日期</span> 
			<ul id="repayDate" data-type='repayDate'>
				<li class="click">
					<a class="selected" href="javascript:void(0);" data-value="">
						全部
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value="7">
						近7天 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value="30">
						近1个月 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value="90">
						近3个月 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value="180">
						近6个月 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value="365">
						近1年 
					</a>
				</li>
				<li class="dateLi">
					<input type="text" class="dateInput" id="fromDate" placeholder="开始日期"/>
				</li>
				<li class="sperateLine">—</li>
				<li class="dateLi">
					<input type="text" class="dateInput" id="endDate" placeholder="结束日期"/>
					
				</li>
			</ul> 
		</div> -->
		<div class="queryCon clearfix">
			<span class="queryType">标的状态</span> 
			<ul  data-type='targetState'>
				<li class="click">
					<a class="selected" href="javascript:void(0);" data-value=''>
						全部
					</a>
				</li>
				<li class="click">
					<a class="" href="javascript:void(0);" data-value='1'>
						借款中 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value='2'>
						还款中 
					</a>
				</li>
				<li class="click">
					<a href="javascript:void(0);" data-value='3'>
						已完结 
					</a>
				</li>  
				<!-- <li class="click">
					<a href="javascript:void(0);" data-value='4'>
						已逾期 
					</a>
				</li> -->
				<li class="click">
					<a href="javascript:void(0);" data-value='4'>
						已流标 
					</a>
				</li>
			</ul> 
		</div>
		<div class="investListTable">
			<table>
				<thead>
					<tr>
						<td style="width:15.7%;">借款编号</td>
						<td style="width:14.3%;">借款金额(元)</td>
						<td style="width:9.4%;">借款利率</td>
						<td style="width:8.2%;">期数</td>
						<td style="width:20.4%;">借款时间</td> 
						<td style="width:12.7%;">待还本息(元)</td>
						<td style="width:10.3%;">状态</td>
						<td style="width:9%;">操作</td>
					</tr>
				</thead>
				<tbody id="loanList">
					<!-- <tr>
						<td><a onclick="changeCurrentMenu('/account/loan/loanViewDesp','loanView_sub_m_btn');" class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>
					<tr>
						<td><a class="viewLink" href="javascript:void(0);">20161103636785</a></td>
						<td>2,000,000.00</td>
						<td>9%</td>
						<td>1/6</td>
						<td>2016-02-04~2016-02-04</td>
						<td>2,000,000.00</td>
						<td>已逾期</td> 
						<td><a class="viewLink" href="javascript:void(0);">查看</a></td>
					</tr>  -->
				</tbody>
				<!-- <tbody>
					<tr class="datanull">
						<td colspan="9">
							<div class="contentNullImg"></div>
							<div class="contentNullText">暂无借款记录</div>
						</td>
					</tr>
				</tbody>  -->
			</table>
		</div>
		<div class="lmy_investPage">
			<div id="investListPage"></div>
		</div>
	</div>

</div>
