<div class="loanview_wrapper">
	<div class="loanview_total_datas">
		<ul>
			<li><span>￥100,000,000.00</span><h2>借款总额</h2></li>
			<li><span>￥100,000,000.00</span><h2>待还本金</h2></li>
			<li><span>￥100,000,000.00</span><h2>待还利息</h2></li>
			<li><span>￥100,000,000.00</span><h2>已还总额</h2></li>
			<li><span>￥100,000,000.00</span><h2>已还本金</h2></li>
			<li><span>￥100,000,000.00</span><h2>已还利息</h2></li>
		</ul>
	</div>
	<div class="loanview_list_wrapper">
		<ol class='loatview_fliter_tit'>
			<li class='loatview_date clearfix'>
				<h3>还款日期</h3><span class='one'><a class='orange-bg'>全部</a></span><span><a>近7天</a></span><span><a>近1个月</a></span><span><a>近3个月</a></span><span><a>近6个月</a></span><span><a>近1年</a></span>
				<div class='calendar_wrapper'></div>
			</li>
			<li>
				<h3>标的状态</h3><span class='one'><a class='orange-bg'>全部</a></span><span><a>借款中</a></span><span><a>还款中</a></span><span><a>已完结</a></span><span><a>已逾期</a></span>
			</li>
		</ol>
		<section class="loatview_tab-wrapper">
			<table class='tab'>
				<thead>
					<tr><td>借款编号</td><td>借款金额(元)</td><td>借款利率</td><td>期数</td><td>借款时间</td><td>待还本息(元)</td><td>状态</td><td>操作</td></tr>
				</thead>
				<tbody class=''>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
					<tr><td><span>20161103636785</span></td><td>2,000,000.00</td><td>9%</td><td>1/6</td><td>2016-02-04~2016-02-04</td><td>2,000,000.00</td><td>已完结</td><td><a href="">查看</a></td></tr>
				</tbody>
			</table>
			<div class="no_data_wrapper hide">
				<div class="icon icon-zh-no"></div>
				<p>暂无交易记录</p>
			</div>
		</section>
	</div>
</div>