<div class="icon icon-zh-menu-bg" id='menu_slider'></div>
<ul>
	<li>
		<h2><em class='icon icon-zh-menu1'></em>账户中心</h2>
		<section id="maintain_m_btn">
			<a id="overview_sub_m_btn" onclick="changeCurrentMenu('/account/maintain/overview','overview_sub_m_btn');"><p class='on'>账户总览</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu2'></em>投资管理</h2>
		<section id="investment_m_btn">
			<a id="investmentView_sub_m_btn" onclick="changeCurrentMenu('/account/investment/investmentView','investmentView_sub_m_btn');"><p>我的投资</p></a>
			<!-- <a id="equitableAssignment_sub_m_btn" onclick="changeCurrentMenu('/account/investment/equitableAssignment','equitableAssignment_sub_m_btn');"><p>债权转让</p></a> -->
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu3'></em>借款管理</h2>
		<section id="loan_m_btn">
			<a id="loanView_sub_m_btn" onclick="changeCurrentMenu('/account/loan/loanView','loanView_sub_m_btn');"><p>我的借款</p></a>
			<a id="applicationRecord_sub_m_btn" onclick="changeCurrentMenu('/account/loan/applicationRecord','applicationRecord_sub_m_btn');"><p>申请记录</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu4'></em>资金管理</h2>
		<section id="chargeManagement_m_btn">
			<a id="recharge_sub_m_btn" onclick="changeCurrentMenu('/account/chargeManagement/recharge','recharge_sub_m_btn');"><p>充值</p></a>
			<a id="withdraw_sub_m_btn" onclick="changeCurrentMenu('/account/chargeManagement/withdraw','withdraw_sub_m_btn');"><p>提现</p></a>
			<a id="tradeRecord_sub_m_btn" onclick="changeCurrentMenu('/account/chargeManagement/tradeRecord','tradeRecord_sub_m_btn');"><p>交易记录</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu5'></em>邀请好友</h2>
		<section id="friends_m_btn">
			<a id="invite_sub_m_btn" onclick="changeCurrentMenu('/account/friends/invite','invite_sub_m_btn');"><p>我要邀请</p></a>
			<a id="inviteRecord_sub_m_btn" onclick="changeCurrentMenu('/account/friends/inviteRecord','inviteRecord_sub_m_btn');"><p>邀请记录</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu6'></em>奖励管理</h2>
		<section id="bonus_m_btn">
			<a id="bonusView_sub_m_btn" onclick="changeCurrentMenu('/account/bonus/bonusView','bonusView_sub_m_btn');"><p>我的卡券</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-menu7'></em>安全设置</h2>
		<section id="securitySetting_m_btn">
			<a id="securitySetting_sub_m_btn" onclick="changeCurrentMenu('/account/securitySetting/securitySetting','securitySetting_sub_m_btn');"><p>账户信息</p></a>
		</section>
	</li>
	<!-- <li>
		<h2><em class='icon icon-zh-menu8'></em>消息中心</h2>
		<section id="msgCenter_m_btn">
			<a id="sysMsg_sub_m_btn" onclick="changeCurrentMenu('/account/msgCenter/sysMsg','sysMsg_sub_m_btn');"><i class="icon icon-red"></i><p>系统消息</p></a>
			<a id="msgSetting_sub_m_btn" onclick="changeCurrentMenu('/account/msgCenter/msgSetting','msgSetting_sub_m_btn');"><p>消息设置</p></a>
		</section>
	</li> -->
</ul>