<!DOCTYPE html>
<html>
	<head>
	    <title><%=title%></title>
	    <meta name="keywords" content="">
	    <meta name="description" content="">
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	    <!--避免IE使用兼容模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!--使用webkit内核-->
		<meta name="renderer" content="webkit"/>
	    <meta baidu-gxt-verify-token="7cf3f0d6913ab476a3bb13b48d592221"/>
	    <meta name="sogou_site_verification" content="ltlCd1kPBx"/>
	    <meta http-equiv="Cache-Control" content="no-transform" />
	    <meta http-equiv="Cache-Control" content="no-siteapp"/>

	    <link rel="stylesheet" href="/dist/stylesheets/style.min.css?v=d2c86e0cb8"/>
	    <link rel="stylesheet" href="/dist/icon/sprite.css?v=1ab684fb46"/>
	    <script type="text/javascript" src="/plugins/jQuery/jquery-1.12.0.min.js"></script>
    </head>
	<body>
	<!-- 登录注册页面头部部分 -->
	<div class='header_bar_wrapper'>
		<div class="header_bar">
			<div class="welcome">
			    <span class="icon_c"></span>
			    <span><em class='icon-t' style='display: inline-block;position: relative;right: 3px;top:2px'></em>欢迎致电：010-57170465 / 57170470 / 59488174</span><span> 服务时间：周一至周六 9:30-18:00</span>
			</div>
			<ol class="nav">
				<li><a href="#">信息披露</a></li>
				<li><a href="#">新手指引</a></li>
				<li><a href="#">活动专区</a></li>
				<li><a href="#">帮助中心</a></li>
			</ol>
		</div>
	</div>
	<div class="logo_bar_wrapper">
		<div class="logo_bar">
			<div class="logo_wrapper">
				<div>
	            	<a href="/"><span class='icon-logo'></span></a>
	            	<span class='logo_text icon-logoText'></span>
	        	</div>
			</div>
		</div>
</div>
	<div class="container bl_risk_container sb_loan_container">
		<div class="content">
			<div class="title">
				投资资金风险提示书
			</div>
			<div class="note">
				<p>尊敬的用户，您好！</p>
				<p>恭喜您成为北京乐百贷财富投资有限公司（以下简称“乐百贷”）理财平台用户。您可根据您的投资需求，自愿选择通过乐百贷平台进行资金出借，以期获得相应预期收益。但在您出借资金的过程中，也许会面临可能导致您资金及收益受损的各种风险。为保障您出借资金的安全及相关合法权益，请您在与债务人达成资金交易前仔细阅读以下内容，了解资金出借的特征，并根据自身的风险承受能力选择是否出借资金及出借资金的数额。</p>
				<p style="font-weight: bold;">当您点击“确认”“投资”“同意”或其他类似涵义选项时，即视为您已经充分理解本提示书内容，并自愿承担相应风险。</p>
				<ol>
					<li style="font-weight: bold;">政策风险</li>
					<p>因国家宏观政策、财政政策、货币政策、监管导向、行业政策、地区发展政策等因素引起的风险。</p>
					<li style="font-weight: bold;">市场风险</li>
					<p>因市场资金面紧张或利率波动、行业不景气、企业效益下滑等因素引起的风险。</p>
					<li style="font-weight: bold;">债务人/保证人信用风险</li>
					<p>当债务人/保证人短期或者长期丧失还款能力，包括但不限于债务人/保证人收入情况、财产状况发生变化、人身出现意外、发生疾病、死亡等情况，或者债务人/保证人的还款意愿发生变化时，您出借的资金可能无法按时回收；<b>乐百贷作为信息中介平台，不承诺本息保障。</b></p>
					<li style="font-weight: bold;">资金流动性风险</li>
					<p>您按照约定将资金投资给债务人使用，在债务人不主动提前还款的情况下，债务人将按照约定的期限分期偿还本金和利息，您投资的资金将分期回收，因此资金回收需要一定的期限。同时，乐百贷平台将在您提出需要以及其他对您有利的时机，努力帮助您寻找、推荐愿意受让您通过乐百贷平台获得的债权的第三方，但乐百贷平台不能确保一定能够在您指定的时间内协助寻找到合适的债权受让人。</p>
					<li style="font-weight: bold;">技术风险</li>
					<p>由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障、黑客或计算机病毒攻击、以及其它因素，可能导致乐百贷平台出现非正常运行或者瘫痪，由此导致您无法及时进行查询、出借、提现等操作。</p>
					<li style="font-weight: bold;">操作风险</li>
					<p>如果您缺乏必要的互联网经验，可能出现因操作不当导致资金交易失败或失误。如果您未能谨慎保管自己的账号和密码，或者设置的密码简单导致密码被破解，以及您在进行资金交易时未能确保所使用的操作终端、网络以及周围环境的安全性，导致账号和密码被他人盗取、使用，可能导致违反您本人意愿的资金交易以及资金损失。由于乐百贷平台以账号和密码进行身份识别，一切以您认证方式进行的操作等均被视为您本人的操作，您将对此发生的一切后果承担全部责任。</p>
					<li style="font-weight: bold;">不可抗力风险</li>
					<p>由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致出借资金损失的风险。</p>
				</ol>
				<center>
					<p style="font-weight: bold;">"本人已经阅读《投资资金风险提示书》的所有内容，充分了解并清楚知晓相应的权利义务，并愿意承担相关风险。"</p>
				</center>
				<div style="text-align: right;padding-right: 100px;padding-top:50px;">
					<p><b>风险提示方：</b>北京乐百贷财富投资有限公司</p>
				</div>

			</div>
		</div>
	</div>
<% include ../footer.html %>
<script type="text/javascript">
	$('.header_bar_wrapper').css('position','fixed');
	$('.logo_bar_wrapper').css({'position':'fixed','top':'30px'});
	$('.footer_bar ').css('position','static');
</script>