<script type="text/javascript" src="/dist/javascripts/account/inviteRecord_control.min.js?v=894f216cc5"></script> 
<div class="lmybody">
	<div class="lmy_background">
		<div class="inviteInfo">
			<div class="divValue left">
				<p class="pvalue"><span class="orange">￥<span id="income"></span></span></p>
				<p class="ptext">邀请收益</p>
			</div>
			<div class="divValue left">
				<p class="pvalue"><span id="register">1080</span><span class="fontsmall">人</span></p>
				<p class="ptext">注册成功</p>
			</div>
			<div class="divValue left">
				<p class="pvalue"><span id="recharge"> </span><span class="fontsmall">人</span></p>
				<p class="ptext">充值成功</p>
			</div>
			<div class="divValue left">
				<p class="pvalue"><span id="invest">1080</span><span class="fontsmall">人</span></p>
				<p class="ptext">投资成功</p>
			</div>
		</div>
	</div>
	<div class="lmy_background">
		<div class="inviteMain">
			<div class="investListTable">
				<table>
					<thead>
						<tr>
							<td style="width:28%;">用户名</td>
							<td style="width:18%;">是否注册</td>
							<td style="width:18%;">是否充值</td>
							<td style="width:18%;">是否投资</td>
							<td style="width:28%;">来源</td>   
						</tr>
					</thead>
					<tbody id="inviteRecordList">
						<!-- <tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> 
						<tr> 
							<td>158*****111</td>
							<td>是</td>
							<td>是</td>
							<td>是</td>
							<td>APP</td> 
						</tr> -->   
					</tbody>
					<!-- <tbody>
						<tr class="datanull">
							<td colspan="9">
								<div class="contentNullImg"></div>
								<div class="contentNullText">暂无邀请记录</div>
							</td>
						</tr>
					</tbody>  -->
				</table>
			</div>
			<div class="lmy_investPage">
				<div id="inviteRecordPage"></div>
			</div>
		</div>
	</div>
</div>