<div class='footer_bar footer_bar_fixed'>
	<ol class="nav clearfix">
		<li><a href="/noviceGuide/noviceGuide">新手指引</a></li>
		<li><a href="/helpCenter/commonProblemOverview?v=/helpCenter/investmentProblem/investGuide&m=investGuide_sub_m_btn">常见问题</a></li>
		<li><a href="/aboutUs/aboutUsOverview?v=/aboutUs/mediaReport&m=menuMediaReport">媒体报道</a></li>
		<li><a href="/aboutUs/aboutUsOverview?v=/aboutUs/industryNews&m=menuIndustryNews">行业资讯</a></li>
		<li><a href="/aboutUs/aboutUsOverview?v=/aboutUs/contactUs&m=menuContactUs">联系我们</a></li>
		<li><a href="/aboutUs/aboutUsOverview?v=/aboutUs/friendLink&m=menuFriendLink">友情链接</a></li>
	</ol>
	<div class="copyright">
	    @2013-2015 北京乐百贷财富投资有限公司<a style='margin:0 0 0 10px;' href = http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action >京ICP备 15009697号</a><a style='margin:0 0 0 10px;' target='_blank' href = '/statics/icp/icp.html'>京B2-20160110</a>
	    <br/>
	    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802022020">
	    <span class='icon-j'></span>京公网安备 11010802022020号</a>
	</div>
	<div class="footer_icon">
        <a rel="nofollow" href="http://webscan.360.cn/index/checkwebsite?url=www.lebaidai.com" target="_blank" title="乐百贷已通过360网站安全认证，请放心使用">
        	<img src="/dist/images/360_g.png?v=713ee00d81" />
        </a>
        <a rel="nofollow" href="http://ce.baidu.com" target="_blank" title="乐百贷已通过百度云观测安全认证">
        	<img src="/dist/images/bdy_g.png?v=1d5612a7b1"/>
        </a>
        <a href="http://si.trustutn.org/info?sn=233160415000390950660" target="_blank">
        	<img src="/dist/images/hlwjr_g.png?v=e66f44906a" alt="互联网金融行业认证" title="互联网金融行业认证">
        </a>
        <a id='___szfw_logo___' href='https://credit.szfw.org/CX20160419018630370118.html' target='_blank'>
        	<img src='/dist/images/kxwz_g.png?v=11b2d1a87d' border='0' />
        </a>
        <a rel="nofollow" href="http://si.trustutn.org/info?sn=233160415000390950660" target="_blank" title="乐百贷已通过互联网诚信平台安全认证，请放心使用">
        	<img src="/dist/images/cxwz_g.png?v=36d2cbbbe3" />
        </a>
        <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1181981170.html" rel="nofollow" target="_blank" title="乐百贷已通过网信安全认证，请放心使用" >
        	<img src="/dist/images/wxrz_g.png?v=43e093c75e"/>
        </a>
        <a href="http://www.cecy.org.cn/fqz/renzheng.html" rel="nofollow" target="_blank" >
            <img src="/dist/images/dzsw_g.png?v=08d090a513"/>
        </a>
    </div>
</div>
</body>
</html>