<script type="text/javascript" src="/dist/javascripts/helpCenter/investGuide_control.min.js?v=2bb0e4288a"></script>
<div class="securitySetting_title">
	<a class='orange' href="/helpCenter/helpCenter" >帮助中心</a>
	<a class='gary' href="/helpCenter/commonProblemOverview" >> 常见问题</a>
</div>
<div class="investGuide_wrapper">
	<h2>资金安全</h2>
	<ul id='capitalSecurity_problem_list' class='commonProblem_list_wrapper'>
	</ul>
</div>
<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
<input type="hidden" name="_typeCode" id="_typeCode" value="fundSecurity"/>