.warningtip{
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 9999999; 
	width: 100%;
	text-align: center;
	line-height: 40px;
} 
.header_bar_wrapper{
	width: 100%;
	height: 30px;
	background: #10438f;
	z-index: 101;
}
.header_bar{
	width: 1100px;
	margin: 0 auto;
}
.header_bar .welcome{
	float: left;
}
.header_bar .welcome span{
	display: inline-block;
	color: #9ec6ef;
	font-size: 13px;
	line-height: 30px;
}
.header_bar .welcome span:last-child{
	margin-left: 35px;
}
.header_bar .nav{
	float: right;
}
.header_bar .nav li{
	float: left;
}
.header_bar .nav li a{
	height:13px;
	padding: 0 14px;
	border-right:1px solid #265396;
	color: #9ec6ef;
	font-size: 13px;
	line-height: 30px;
}
.header_bar .nav li a:hover{
	color: #e3f1ff;
}
.header_bar .nav li:last-child a{
	padding:0 0 0 15px;
	border-right: none;
}

.logo_bar_wrapper{
	width: 100%;
	height: 70px;
    min-width: 1100px;
    background-color: #f9fcff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.logo_bar{
	margin: 0 auto;
    width: 1100px;
}
.logo_wrapper{
    width: 282px;
    height: 70px;
    float: left;
}
.logo_wrapper div{
	width: 282px;
    height: 70px;
    display: inline-block;
    text-align: left;	
}
.logo_wrapper a{
	float: left;
	width: 121px;
	height: 100%;
	padding-top:23px;
	box-sizing: border-box;
}
.logo_wrapper .icon-logo{
	display: inline-block;
}
.logo_wrapper .icon-logoText{
	float: left;
    margin-top: 38px;
    margin-left: 3px;
}
.welcome_login{
	float: left;
	height: 40px;
	margin:22px 0 0 -5px;
	border-left: 1px solid #ECF0F4;
}
.welcome_login span{
	color: #02214f;
	font-size: 16px;
	line-height: 52px;
	padding-left: 21px;
}
.regist_go{
	float: right;
}
.regist_go a, .regist_go span{
	font-size: 14px;
	line-height: 100px;
}
.regist_go span{
	color: #72849e;
}
.regist_go a{
	color: #fe8d50;
}

.footer_bar{
	width: 100%;
	height: 198px;
	background: #323841;
	position: absolute;
	bottom: 0;
}
.footer_bar ol{
	width: 540px;
	margin:0 auto;
	padding-top: 34px;
}
.footer_bar ol li{
	width: 90px;
	text-align: center;
	float: left;
}
.footer_bar ol a{
	font-size: 14px;
	color:#aab3bd;
}
.footer_bar ol a:hover{
	color:#e5ebf3;
}
.copyright{
    color: #878d95;
    font-size: 12px;
    margin: 0 auto;
    padding-top: 29px;
    padding-bottom: 3px;
    width: 100%;
    text-align: center;
}
.copyright a{
	display:inline-block;
	margin:8px 0;
	color:#878d95;
}
.footer_icon{
	width: 996px;
	margin: 0 auto;
}
.footer_icon a{
	float: left;
	width: 132px;
	height: 38px;
	border-radius: 6px;
	margin-left: 12px;
	overflow: hidden;
}
.footer_icon a:nth-child(1){
	margin-left: 0;
}
.footer_icon img{
	float: left;
}
.icon-j{
	display: inline-block;	
	position: relative;
	right: 4px;
	top:3px;
}
.icon-t{
	display: inline-block;
	position: relative;
	right: 3px;
	top:2px;
}

/*navheader.html补充样式*/
/*导航*/
.r_navheader{
	float: right;
}
.r_navheader ul{
	overflow: hidden;
	margin-top: 12px;
	height: 70px;
	line-height: 70px;
}
.r_navheader ul li{
	float: left;
	margin-left: 30px;
	font-size: 16px;
	color: #253b4c;
}
.r_navheader ul li a:hover{
	color: #ff6121; 
}
.r_navheader ul li.select a{
	color: #ff6121;
}
.icon_myaccount{
	display: inline-block;
	margin-right: 7px;
	position: relative; 
	top:3px;
}
.myaccount_msg_value{
	position: absolute;
    top: -9px;
    left: 18px;
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    background: red;
    padding: 3px 5px;
    border-radius: 7px;
    color: #fff;
}
.myaccount_msg_vsmall{
	position: absolute;
    top: -9px;
    left: 18px;
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    background: red;
    padding: 4px 3px;
    border-radius: 50%;
    color: #fff;
}
/*公共的右侧飘窗*/
.common_float_r{
	position: fixed;
	right: 25px;
    bottom: 30px;
	width: 56px;
	z-index: 99999;
}
.common_float_r li{ 
 
	position: relative;
}
.common_float_r i.float_img{
	width: 56px;
	height: 56px;
	display: block;
	background: url('../images/lright_bar_05.png') no-repeat #eff7ff; 
	cursor: pointer;
	transition:.3s;  
	border-bottom: 1px solid #d4dce3;
	border-left:1px solid #e5e4e4;
	border-right:1px solid #e5e4e4;
}
.common_float_r i.float_img:hover{ 
	background-color: #5693ef; 
}
.common_float_r .common_online_custom i.float_img{ 
	background-position: 12px 11px; 
}
.common_float_r .common_online_custom i.float_img:hover{
	background-position: -103px 11px; 
}
.common_float_r .common_complain i.float_img{ 
	background-position: 12px -53px; 
}
.common_float_r .common_complain i.float_img:hover{
	background-position: -101px -56px; 
}
.common_float_r .common_weixin i.float_img{ 
	background-position: 12px -125px; 
}
.common_float_r .common_weixin i.float_img:hover{
	background-position: -101px -125px; 
}
.common_float_r .common_app i.float_img{ 
	background-position: 12px -190px; 
}
.common_float_r .common_app i.float_img:hover{
	background-position: -99px -193px; 
}
.common_float_r .up i.float_img{ 
	background-position: 14px -251px; 
}
.common_float_r .up i.float_img:hover{
	background-position: -108px -251px; 
} 
.common_float_r li.enable .common_float_dialog{
	opacity: 1;
	filter:alpha(opacity=100);
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1); 
}
.common_float_dialog{
	position: absolute;
	right: 56px;
	top:0px;
	opacity: 0;
	filter:alpha(opacity=0);
	transform-origin:right 50%;
	-webkit-transform-origin:right 50%;
	-moz-transform-origin:right 50%;
	-o-transform-origin:right 50%;
	-ms-transform-origin:right 50%;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
	transition:all ease-out .3s 0s;
	-webkit-transition:all ease-out .3s 0s;
	-moz-transition:all ease-out .3s 0s;
	-o-transition:all ease-out .3s 0s;
	-ms-transition:all ease-out .3s 0s; 
	z-index: 300;

}
.common_float_arrow{
	width: 0;
	height: 0;
	position: absolute;
	top:10px;
	z-index: 100;
	right: -6px;
	border:6px solid transparent;
	border-left: 6px solid #e3e3e3;

}
.common_float_bordertansparent{
	width: 0;
	height: 0;
	position:absolute;
	top: 10px;
	z-index: 200;
	right: -5px;
	border: 6px solid transparent;
	border-left: 6px solid #fff;
}
.common_float_border{
	position: absolute;
	right: 6px;
	top:0px;
	border:1px solid #e3e3e3;
	padding: 10px;
	background: #fff; 
}
#btn_up_page{
	opacity: 1;
	filter:alpha(opacity=100);
	transition:all ease-out .5s 0s;
	-webkit-transition:all ease-out .5s 0s;
	-moz-transition:all ease-out .5s 0s;
	-o-transition:all ease-out .5s 0s;
	-ms-transition:all ease-out .5s 0s;
}
#btn_up_page.up_disable{
	opacity: 0;
	filter:alpha(opacity=0);
}
.wsp_container,.sb_loan_container{
	padding-top: 100px;
}