.forget_pwd_wrapper{
	width: 1100px;
	height: 484px;
	background: #fcfeff;
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 198px;
	padding-top: 78px;
	box-sizing: border-box;
}
#forword_wrapper{
	min-height: 520px;
}
.yz_status{
	width: 516px;
	margin: 0 auto;
	height: 2px;
	background: #dde1e7;
}
.yz_status li{
	float: left;
	width:243px;
	position: relative;
	top:-16px;
}
.yz_status li:last-child{
	width: 30px;
}
.yz_status li span{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #dde1e7;
	text-align: center;
	line-height: 30px;
	color: #c3c9d2;
}
#yz_two .yz_status .on:after,#yz_three .yz_status .on:after{
	content: "";
	position: absolute;
	left:-215px;
	top:16px;
	width: 215px;
	height: 2px;
	background: #91bae3;
}
.yz_status .on span{
	background: #1269c3;
	color: #c4daf0;
}
.yz_status .on em{
	color: #1269c3;
}
.yz_status .after span{
	background: #91bae3;
	color: #c8ddf1;
}
.yz_status .after em{
	color: #91bae3;
}
.yz_status li em{
	position: relative;
	top:12px;
	font-size: 14px;
	color: #c3c9d2;
}
.yz_status li:nth-of-type(1) em{
	left: -13px;
}
.yz_status li:nth-of-type(2) em{
	left: -20px;
}
.yz_status li:nth-of-type(3) em{
	left: 2px;
}
.fp_input_wrapper{
	width: 350px;
	margin:0 auto;
	padding-top: 40px;
	position: relative;
	left: 20px;
}
.fp_input_wrapper .input_wrapper{
	width: 310px;
	position: relative;
}
.fp_input_wrapper .imgcode_input_wrapper{
	width: 180px;
}
.fp_input_wrapper .imgcode_wrapper{
	width: 120px;
}
.fp_btn{
	width: 310px;
}
.fp_tip{
	width: 370px;
	position: absolute;
	left: 322px;
	top:0;
	line-height: 40px;
	font-size: 12px;
	color: #ff3431;
}
.text_wrapper .ok{
	border-radius: 50%;
	margin:0 auto;
	margin-top: 45px;
}
.text_wrapper .orange{
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
}
.text_wrapper p:nth-of-type(2),.text_wrapper p:nth-of-type(3){
	text-align: center;
	font-size: 12px;
	color: #8190a7;
	padding-top: 10px;
}
.text_wrapper p:nth-of-type(3){
	padding-top: 20px;
}
.text_wrapper p:nth-of-type(3) a{
	color: #2a84d8
}
.icon-er{
	display: inline-block;
	position: relative;
	right: 4px;
	top:2px;
}