<% include ../navheader.html %>
<script type="text/javascript" src="/dist/javascripts/insurance/insurance_control.min.js?v=7fe540f8eb"></script>
<div class="insuranceMain">
	<div class="insuranceHeader"></div> 
	<div class="insuranceIntro">
		<div class="introList clearfix">
			<div class="margin40 left">
				<img class="instroImg" src="/dist/images/insurance/1.jpg?v=4e0621e309">
			</div>
			<div class="instroText left">
				<div class="textInfo">乐百贷成功引入国内专业风控机构研发的大数据风控征信模型，成为专业风控模型在、互联网金融领域的实践基地。该风控模型可以清晰地反映个人信用状况和当前信贷需求，进行快速评估信用等级，实现快速放款。</div>
			</div>
		</div>
		<div class="introList clearfix mgT90"> 
			<div class="instroText margin40 left">
				<div class="textInfo">乐百贷风控团队针对每个项目情况进行细分归类，通过高标准把控，甄选优质资产。团队成员严格考察、审核、评估，确保每个投资项目真实性。不仅如此，风控团队追踪贷后借款人资金使用及还款状态，及时反馈信息并告知投资人。</div>
			</div>
			<div class="left">
				<img class="instroImg" src="/dist/images/insurance/2.jpg?v=a8491f0c6b">
			</div>
		</div>
		<div class="introList clearfix mgT90">
			<div class="margin40 left">
				<img class="instroImg" src="/dist/images/insurance/3.jpg?v=764d509989">
			</div>
			<div class="instroText left">
				<div class="textInfo">乐百贷与支付公司联动优势接入资金托管系统，实现了平台对个人及企业用户的账户进行独立管理，资金的同标的进出，做到了投资人出借用途与借款人申报的借款用途一一对应。平台不接触投资人资金，由联动优势全程监控资金流向，任何资金流转全部在联动优势平台实现。</div>
			</div>
		</div>
		<div class="introList clearfix mgT90"> 
			<div class="instroText margin40 left">
				<div class="textInfo">在个体网络借贷平台上发生的直接借贷行为属于民间借贷范畴，受合同法、民法通则等法律法规以及最高人民法院相关司法解释规范。借贷双方在线生成的电子协议具法律效力，协议由法律顾问及专业律师制定，以保证投资人在平台的操作合法有效，约束借款人按时履行还款义务。</div>
			</div>
			<div class="left">
				<img class="instroImg" src="/dist/images/insurance/4.jpg?v=db6e054e89">
			</div>
		</div>
		<div class="introList clearfix mgT90">
			<div class="margin40 left">
				<img class="instroImg" src="/dist/images/insurance/5.jpg?v=1769709b22">
			</div>
			<div class="instroText left">
				<div class="textInfo">乐百贷采用256位网络安全加密技术，保障用户在账户中存储的个人信息、账户信息以及交易记录安全。乐百贷技术团队，多来自国内大型互联网公司和金融公司，有丰富的实践经验，在技术方面也颇有实力。</div>
			</div>
		</div>
		<div class="introList clearfix mgT90 introlast"> 
			<div class="instroText margin40 left">
				<div class="textInfo">乐百贷上线前期即获战略投资人注资，平台由北京乐百贷财富投资有限公司管理运营。</div>
			</div>
			<div class="left">
				<img class="instroImg" src="/dist/images/insurance/6.jpg?v=30d98e48fb">
			</div>
		</div>
	</div>
</div>

<% include ../footer.html %>
 