<div class="msgSetting_wrapper">
	<div class="msgSetting_checkbox_wrapper clearfix"><p class='right'><em class="msgSetting_checkbox"></em><span>全选</span></p></div>
	<section>
		<h2>资金消息设置</h2>
		<ul>
			<li>
				<h3>提现申请</h3>
				<div>
					<p><em class="msgSetting_checkbox icon-cked"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>提现成功</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>提现失败</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>充值成功</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
		</ul>
	</section>
	<section>
		<h2>投资消息设置</h2>
		<ul>
			<li>
				<h3>投资成功</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>投资回款</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>流放回标</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
		</ul>
	</section>
	<section>
		<h2>借款消息设置</h2>
		<ul>
			<li>
				<h3>满标放款</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>审核失败</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>审核通过</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>流标</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>逾期通知</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
		</ul>
	</section>
	<section>
		<h2>网站消息设置</h2>
		<ul>
			<li>
				<h3>登录失败</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>修改登录密码</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
			<li>
				<h3>修改交易密码</h3>
				<div>
					<p><em class="msgSetting_checkbox"></em><span>短信</span></p>
					<p><em class="msgSetting_checkbox"></em><span>邮件</span></p>
					<p><em class="msgSetting_checkbox"></em><span>消息</span></p>
				</div>
			</li>
		</ul>
	</section>
</div>
<script type="text/javascript">
	/*var Dialog = $.dialog({
		dialogDom:'<a class="dialog_close_btn icon-zh-close icon" id="dialog_close_btn"></a><h2 class="dia_title">设置邮箱</h2><p>您还未认证邮箱，请认证邮箱后再设置</p><a class="btn" id="bindEmail_btn">立即认证</a>',
		className:'msgSetting_dialog_wrapper dia_wrapper',
		isClose:false
	});
	$('#bindEmail_btn').click(function(){
		Dialog.close();
		changeCurrentMenu('/account/securitySetting/bindEmail','securitySetting_sub_m_btn');
	})*/
</script>