<% include ../navheader.html %> 
<div class="testContent">
	<div>
		<div class="title">投资者风险评估测试</div>
		<p class="tipname">尊敬的投资者： </p>
		<p class="tiptext">以下15个问题将根据您的财务状况、投资经验、投资风格、风险偏好和风险承受能力等对您进行风险评估（每个问题请选择唯一选项，不可多选），它可协助我们评估您的投资偏好和风险承受能力，有助于您控制投资的风险，同时也便于我行据此为您提供更准确的的投资服务。</p>
		<div>
			<div class="question">
				<p>1.您的年龄是（受经济条件和身体条件影响，不同的年龄层次对风险的承受能不同）？</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>18—30</span> 
					<span data-value="2"><em class=""></em>31—50</span> 
					<span data-value="3"><em class=""></em>51—60</span> 
					<span data-value="4"><em class=""></em>高于60岁</span> 
				</div>
			</div>
			<div class="question">
				<p>2、您的教育程度：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em> 高中以下</span> 
					<span data-value="2"><em class=""></em>专科</span> 
					<span data-value="3"><em class=""></em>本科</span> 
					<span data-value="4"><em class=""></em>研究生或研究生以上 </span> 
				</div>
			</div>
			<div class="question">
				<p>3.您目前的职业状况：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>待业或退休</span> 
					<span data-value="2"><em class=""></em>无固定工作</span> 
					<span data-value="3"><em class=""></em>企事业单位固定工作</span> 
					<span data-value="4"><em class=""></em>私营业主

					</span> 
				</div>
			</div>
			<div class="question">
				<p>4.您的家庭年收入折合人民币为（家庭收入状况影响您的风险承受能力）？</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>5万元以下</span> 
					<span data-value="2"><em class=""></em>5—20万元</span> 
					<span data-value="3"><em class=""></em>20—50万元</span> 
					<span data-value="4"><em class=""></em>50万元以上</span> 
				</div>
			</div>
			<div class="question">
				<p>5.在您每年的家庭收入中，可用于金融投资（储蓄存款除外）的比例为？</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>小于10%</span> 
					<span data-value="2"><em class=""></em>10%至25%</span> 
					<span data-value="3"><em class=""></em>25%至50%</span> 
					<span data-value="4"><em class=""></em>大于50%</span> 
				</div>
			</div>
			<div class="question">
				<p>6、您进行投资的主要目的是：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>确保资产的安全性，同时获得固定收益</span> 
					<span data-value="2"><em class=""></em>希望投资能获得一定的增值，同时获得波动适度的回报</span> 
					<span data-value="3"><em class=""></em>倾向于长期的成长，较少关心短期的回报和波动</span> 
					<span data-value="4"><em class=""></em>只关心长期的高回报，能够接受短期的资产价值波动</span> 
				</div>
			</div>
			<div class="question">
				<p>7．您的投资知识：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>缺乏投资基本常识</span> 
					<span data-value="2"><em class=""></em>略有了解，但不懂投资技巧 </span> 
					<span data-value="3"><em class=""></em> 有一定了解，懂一些的投资技巧</span> 
					<span data-value="4"><em class=""></em>认识充分，并懂得投资技巧</span> 
				</div>
			</div>
			<div class="question">
				<p>8.您以往的投资以什么产品为主？ </p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>存款</span> 
					<span data-value="2"><em class=""></em>债券、偏债型基金 </span> 
					<span data-value="3"><em class=""></em>股票、偏股型基金</span> 
					<span data-value="4"><em class=""></em>金融衍生品（如期货、外汇等）、私募股权投资</span> 
				</div>
			</div>
			<div class="question">
				<p>9.您有多少年投资股票、基金、外汇、期货、金融衍生产品等风险投资品的经验（投资经历越长，您的风险承受能力越强）？</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>没有经验</span> 
					<span data-value="2"><em class=""></em>少于2年</span> 
					<span data-value="3"><em class=""></em>2至5年</span> 
					<span data-value="4"><em class=""></em>5至8年</span> 
				</div>
			</div> 
			<div class="question">
				<p>10.以下哪项描述最符合您的投资态度（高收益意味着要承担高风险）？</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>厌恶风险，不希望本金损失，希望获得稳定回报 </span> 
					<span data-value="2"><em class=""></em>保守投资，不希望本金损失，愿意承担一定幅度的收益波动 </span> 
					<span data-value="3"><em class=""></em>寻求资金的较高收益和成长性，愿意为此承担有限本金损失</span> 
					<span data-value="4"><em class=""></em>希望赚取高回报，愿意为此承担较大本金损失</span> 
				</div>
			</div>
			<div class="question">
				<p>11.您如何看待投资亏损：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>很难接受，影响正常的生活</span> 
					<span data-value="2"><em class=""></em>受到一定的影响，但不影响正常生活   </span> 
					<span data-value="3"><em class=""></em>平常心看待，对情绪没有明显的影响</span> 
					<span data-value="4"><em class=""></em>很正常，投资有风险，没有人只赚不赔</span> 
				</div>
			</div>
			<div class="question">
				<p>12.您计划的投资期限是多久（投资期限越长，您的风险承受能力越强）？ </p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>1年以下</span> 
					<span data-value="2"><em class=""></em>1—3年</span> 
					<span data-value="3"><em class=""></em>3—5年</span> 
					<span data-value="4"><em class=""></em>5年以上</span> 
				</div>
			</div>
			<div class="question">
				<p>13.您的投资目的是？ </p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>资产保值</span> 
					<span data-value="2"><em class=""></em>高于同期存款</span> 
					<span data-value="3"><em class=""></em>资产稳健增长</span> 
					<span data-value="4"><em class=""></em>资产迅速增长</span> 
				</div>
			</div>
			<div class="question">
				<p>14.您进行投资时所能承受的最大亏损比例是：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>10%以内</span> 
					<span data-value="2"><em class=""></em>10-30%</span> 
					<span data-value="3"><em class=""></em>30-50%</span> 
					<span data-value="4"><em class=""></em>50%以上</span> 
				</div>
			</div>
			<div class="question">
				<p>15.您期望的投资的收益率：</p>
				<div class="questionAnswer" data-flag="0">
					<span data-value="1"><em class=""></em>高于同期定期存款</span> 
					<span data-value="2"><em class=""></em> 10%左右，要求相对风险较低</span> 
					<span data-value="3"><em class=""></em>10-20%，可承受中等风险 </span> 
					<span data-value="4"><em class=""></em>20%以上，可承担较高风险</span> 
				</div>
			</div>
			<div><a href="javascript:void(0);" id="btnTest" class="btn btnTest disabled">立即提交</a></div>
		</div>
	</div>
	<!-- 弹框 -->
	<div class="hide" id="riskTestResult">
		<div class="filterlayer"></div>
		<div class="riskTestDialog">
			<div class="title">投资者风险评估测试结果</div>
			<div class="resultContent">
				<p class="tip">尊敬的投资者，通过以下15个问题，根据您的财务状况、投资经验、投资风格、风险偏好和风险承受能力等对您进行风险评估。</p>
			 	<div class="resultInfo clearfix">
			 		<div class="left score">
			 			<p class="value" id="score"></p>
			 			<p class="text">您的得分总计为</p>
			 		</div>
			 		<div class="right type">
			 			<p class="value" id="type"> </p>
			 			<p class="text">您的风险承受能力等级为</p>
			 		</div>
			 	</div>
			 	<div class="desp" id="typeText">
			 		 
			 	</div>
			 	<div class=""><a id="btnReturnInvest" href="<%=history%>" class="btn btnInvest">立即投资</a></div>
			</div>
		 	
		</div>
		 
	</div>
</div>  
<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
<input type="hidden" name="history" id="history" value="<%=history%>"/>
<script type="text/javascript" src="/dist/javascripts/investment/investorRiskAssessmentTest_control.min.js"></script>
<% include ../footer.html %>  