<% include ../navheader.html %>
<script type="text/javascript" src="/dist/javascripts/helpCenter/commonProblemOverview_control.min.js?v=9751cdf2aa"></script>
<div class='account_wrapper commonProblem_wrapper clearfix'>
	<div id="commonProblemMenu" class='accountMenu commonProblem_menu left'></div>
	<div id='commonProblemView' class="accountView commonProblem_view right"></div>
</div>
<input type="hidden" id="commonProblemViewParam" value="<%=view%>"/>
<input type="hidden" id="commonProblemMenuParam" value="<%=menu%>"/>
<% include ../footer.html %>
