<div class="icon icon-zh-menu-bg" id='problem_menu_slider'></div>
<ul>
	<li>
		<h2><em class='icon icon-zh-problem-menu1'></em>我要投资</h2>
		<section id="investmentProblem_m_btn">
			<a id="investGuide_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/investmentProblem/investGuide','investGuide_sub_m_btn');"><p class='on'>投资指引</p></a>
			<a id="investPlay_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/investmentProblem/investPlay','investPlay_sub_m_btn');"><p>投资演示</p></a>
			<a id="transferOperation_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/investmentProblem/transferOperation','transferOperation_sub_m_btn');"><p>转让操作</p></a>
			<a id="investCommonProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/investmentProblem/investCommonProblem','investCommonProblem_sub_m_btn');"><p>投资常见问题</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-problem-menu2'></em>投资管理</h2>
		<section id="loanManagement_m_btn">
			<a id="loanGuide_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/loanManagement/loanGuide','loanGuide_sub_m_btn');"><p>借款指引</p></a>
			<a id="loanPlay_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/loanManagement/loanPlay','loanPlay_sub_m_btn');"><p>借款演示</p></a>
			<a id="repayment_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/loanManagement/repayment','repayment_sub_m_btn');"><p>还款</p></a>
			<a id="loanCommonProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/loanManagement/loanCommonProblem','loanCommonProblem_sub_m_btn');"><p>借款常见问题</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-problem-menu3'></em>账户管理</h2>
		<section id="loan_m_btn">
			<a id="loginAndRegist_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/loginAndRegist','loginAndRegist_sub_m_btn');"><p>注册/登录</p></a>
			<a id="setPassword_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/setPassword','setPassword_sub_m_btn');"><p>密码设置</p></a>
			<a id="rechargeProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/rechargeProblem','rechargeProblem_sub_m_btn');"><p>充值</p></a>
			<a id="withdrawProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/withdrawProblem','withdrawProblem_sub_m_btn');"><p>提现</p></a>
			<a id="authProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/authProblem','authProblem_sub_m_btn');"><p>安全认证</p></a>
			<a id="newsProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/newsProblem','newsProblem_sub_m_btn');"><p>消息</p></a>
			<a id="rewardProblem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/accountManagement/rewardProblem','rewardProblem_sub_m_btn');"><p>奖励</p></a>
		</section>
	</li>
	<li>
		<h2><em class='icon icon-zh-problem-menu4'></em>安全保障</h2>
		<section id="securityGuarantee_m_btn">
			<a id="policyAndLaw_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/securityGuarantee/policyAndLaw','policyAndLaw_sub_m_btn');"><p>政策与法律</p></a>
			<a id="windControlSystem_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/securityGuarantee/windControlSystem','windControlSystem_sub_m_btn');"><p>风控体系</p></a>
			<a id="capitalSecurity_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/securityGuarantee/capitalSecurity','capitalSecurity_sub_m_btn');"><p>资金安全</p></a>
			<a id="informationSafety_sub_m_btn" onclick="changeCurrentMenu('/helpCenter/securityGuarantee/informationSafety','informationSafety_sub_m_btn');"><p>信息安全</p></a>
		</section>
	</li>
</ul>