<% include ../header.html %>
<script type="text/javascript" src="/dist/javascripts/noviceGuide/noviceGuide_control.min.js?v=bd4328c7f4"></script>
<div class="noviceGuide_wrapper">
	<section>
		<em class="icon icon-zh-noviceGuide-lbd"></em>
		<h2>什么是乐百贷？ </h2>
		<ol class="flex_box">
			<li class="flex_item">
				<div class="icon_wrpper auto_parent">
					<em class='auto_sun icon-zh-novice-t1'></em>
				</div>
				<h4>高效便捷</h4>
			</li>
			<li class="flex_item">
				<div class="icon_wrpper auto_parent">
					<em class='auto_sun icon-zh-novice-t2'></em>
				</div>
				<h4>安全透明</h4>
			</li>
			<li class="flex_item">
				<div class="icon_wrpper auto_parent">
					<em class='auto_sun icon-zh-novice-t3'></em>
				</div>
				<h4>诚信规范</h4>
			</li>
		</ol>
		<p>
			“乐百贷” 于2015年4月正式宣布上线，由北京乐百贷财富投资有限公司负责运营。乐百贷致力于为高净值投资用户提供更优质的理财体验，为个人与中小微企业及个人搭建安全透明、高效便捷、诚信规范的理财与信贷信息撮合服务平台。
		</p> 
	</section>
	<section>
		<h2>平台的优势</h2>
		<ol class="flex_box">
			<li class="flex_item">
				<img src="/dist/images/noviceGuide/pic1.png?v=09084b9e67">
				<h3>收益好</h3>
				<p>平台建议的年均<br>出借回报率约6%~13%</p>
			</li>
			<li class="flex_item">
				<img src="/dist/images/noviceGuide/pic2.png?v=1df8b7d9e6">
				<h3>期限短</h3>
				<p>3/6/12/18/24/36<br>个月期限任您选</p>
			</li>
			<li class="flex_item">
				<img src="/dist/images/noviceGuide/pic3.png?v=157d744975">
				<h3>门槛低</h3>
				<p>百元起投</p>
			</li>
			<li class="flex_item">
				<img src="/dist/images/noviceGuide/pic4.png?v=fe756f4477">
				<h3>退出灵活</h3>
				<p>支持提前退出，<br>最快当天提现到账</p>
			</li>
			<li class="flex_item">
				<img src="/dist/images/noviceGuide/pic5.png?v=816d1801d2">
				<h3>操作省心</h3>
				<p>智能匹配，出借<br>真实透明，结束日自动退出</p>
			</li>
		</ol>
	</section>
	<section>
		<h2>“五审五催制度”风险整体可控</h2>
		<dl class='clearfix'>
			<dt>
				<img src="/dist/images/noviceGuide/pic6.png?v=70103d07c3">
			</dt>
			<dd>
				<h3>1、科学的五审信用评估体系和标准</h3>
				<p>系统预审 > 评分审核 > 欺诈审核  > 信用审核  > 额度审核</p>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>
				<img src="/dist/images/noviceGuide/pic7.png?v=90443569b4">
			</dt>
			<dd>
				<h3 class='bottom'>2 、完备的五级催收制度降低风险，风险整体可控</h3>
				<p class='left'>
					第一级：内部风险预警<br>
					第二级：各营业部还款管理<br>
					第三级：资产管理部还款管理<br>
				</p>
				<p class='right'>
					第四级：委外催收<br>
					第五级：司法诉讼<br>
				</p>
			</dd>
		</dl>
	</section>
	<section>
		<h2>多项网络安全技术保障信息安全、合法性</h2>
		<dl>
			<dt>
				<img src="/dist/images/noviceGuide/pic8.png?v=5dfd4c473f">
			</dt>
			<dd>
				<p>多项网络安全技术 保障信息安全与合法性</p>
				<p>荣获ISO27001国内和国际双重标准认证</p>
				<p>ICP网络经营许可证</p>
				<p>SSL安全加密技术保障</p>
				<p>个人实名身份识别技术</p>
				<p>权威可信网站认可</p>
			</dd>
		</dl>
	</section>
	<section>
		<h2>简单三步走，理财开始</h2>
		<div class='slider_wrapepr' id='sliderWrap'>
			<div class="slider_item hide">
				<ol class='flex_box'>
					<li class='flex_item on'><h5>1</h5><small>注册</small></li>
					<li class='flex_item'><h5>2</h5><small>充值</small></li>
					<li class='flex_item'><h5>3</h5><small>投资</small></li>
				</ol>
				<img src="/dist/images/noviceGuide/pic9.png?v=c395cc9bd1">
			</div>
			<div class="slider_item">
				<ol class='flex_box'>
					<li class='flex_item'><h5>1</h5><small>注册</small></li>
					<li class='flex_item on'><h5>2</h5><small>充值</small></li>
					<li class='flex_item'><h5>3</h5><small>投资</small></li>
				</ol>
				<img src="/dist/images/noviceGuide/pic10.png?v=27851ff67b">
			</div>
			<div class="slider_item hide">
				<ol class='flex_box'>
					<li class='flex_item'><h5>1</h5><small>注册</small></li>
					<li class='flex_item'><h5>2</h5><small>充值</small></li>
					<li class='flex_item on'><h5>3</h5><small>投资</small></li>
				</ol>
				<img src="/dist/images/noviceGuide/pic11.png?v=a04a1e73d3">
			</div>
			<div id='arrowL' class="left_arrow icon icon-zh-novice-arrowH"></div>
			<div id='arrowR' class="right_arrow icon icon-zh-novice-arrowH"></div>
		</div>
		<a href="/user/regist" target=_blank><input value="立即注册" class="btn go_regist_btn" type='button'></a>
	</section>
	<section>
		<h2>关注乐百贷</h2>
		<ol>
			<li class='left'><img src="/dist/images/noviceGuide-weixin.png?v=434595b5b5"><h3>扫码关注乐百贷微信</h3></li>
			<li class='right'><img src="/dist/images/noviceGuide-app.png?v=890c8f4a0d"><h3>扫描下载乐百贷APP</h3></li>
		</ol>
	</section>
</div>
<% include ../footer.html %>


