<div class="slideMenu">
	<div class="menuBack"></div>
	<ul>
		<li><a class="selected" href="javascript:void(0);" id="menuCompanyProfile" onclick="changeCurrentMenu('/aboutUs/companyProfile','menuCompanyProfile');">公司介绍</a></li>
		<li>
			<a href="javascript:void(0);" id="menuTeam" onclick="changeCurrentMenu('/aboutUs/team','menuTeam');">团队介绍</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuShareholderIntroduce" onclick="changeCurrentMenu('/aboutUs/shareholderIntroduce','menuShareholderIntroduce');">股东介绍</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuDevelopmentFootprint" onclick="changeCurrentMenu('/aboutUs/developmentFootprint','menuDevelopmentFootprint');">发展足迹</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuPerformanceReport" onclick="changeCurrentMenu('/aboutUs/performanceReport','menuPerformanceReport');">业绩报告</a>
		</li> 
		<li>
			<a href="javascript:void(0);" id="menuContactUs" onclick="changeCurrentMenu('/aboutUs/contactUs','menuContactUs');">联系我们</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuJoinUs" onclick="changeCurrentMenu('/aboutUs/joinUs','menuJoinUs');">加入我们</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuPlatformAnnounce" onclick="changeCurrentMenu('/aboutUs/platformAnnounce','menuPlatformAnnounce');">平台公告</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuCompanyNews" onclick="changeCurrentMenu('/aboutUs/companyNews','menuCompanyNews');">公司动态</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuMediaReport" onclick="changeCurrentMenu('/aboutUs/mediaReport','menuMediaReport');">媒体报道</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuIndustryNews" onclick="changeCurrentMenu('/aboutUs/industryNews','menuIndustryNews');">行业资讯</a>
		</li>
		<li>
			<a href="javascript:void(0);" id="menuPlatformProtocol" onclick="changeCurrentMenu('/aboutUs/platformProtocol','menuPlatformProtocol');">平台协议</a>
		</li> 
		<li>
			<a href="javascript:void(0);" id="menuFriendLink" onclick="changeCurrentMenu('/aboutUs/friendLink','menuFriendLink');">友情链接</a>
		</li> 
		<li>
			<a href="javascript:void(0);" id="menuLendingKnow" onclick="changeCurrentMenu('/aboutUs/lendingKnow','menuLendingKnow');">网络借贷知识</a>
		</li>  
	</ul> 
</div>