<script type="text/javascript" src="/dist/javascripts/aboutUs/contactUs_control.min.js?v=7da9327e19"></script>
<div class="contactUs">
	<div class="title">
		联系我们
	</div>
	<div class="address">
		公司地址：北京市海淀区西直门北大街32号枫蓝国际A座912室
	</div>
	<div class="map">
		<div class="map_acc"  id="dituContent" style="width:890px;height:355px;"></div> 
	</div>
	<div class="method clearfix">
		<div class="methodInfo left">
			<div class="img img1">
				<img src="../dist/images/aboutUs/lconnect.png?v=daa49fc3bd">
			</div>
			<p class="imgTitle">联系我们</p>
			<p class="imgInfo">010-57170465</p>
		</div>
		<div class="methodInfo left">
			<div class="img img2">
				<img src="../dist/images/aboutUs/lemail.png?v=b99fb77ab5">
			</div>
			<p class="imgTitle">客服邮箱</p>
			<p class="imgInfo">kefu@lebaidai.com</p>
		</div>
		<div class="methodInfo left">
			<div class="img img3">
				<img src="../dist/images/aboutUs/lweixinb.png?v=8cbf92f742">
			</div>
			<p class="imgTitle">微信</p>
			<p class="imgInfo">lebaidai</p>
		</div>
		<div class="methodInfo left">
			<div class="img img4">
				<img src="../dist/images/aboutUs/lweibo.png?v=30a5df3288">
			</div>
			<p class="imgTitle">微博</p>
			<p class="imgInfo">乐百贷</p>
		</div>
	</div>
	<div class="instro clearfix">
		<div class="instrobox instrobox1 left">
			<div class="instroTitle">商务合作</div>
			<div class="instroInfo">
				如果贵公司希望与我们建立商务合作关系，请将合作意向进行简要描述并发送邮件至
				<a class="emailLink" href="javascript:void(0);">bd@lebaidai.com</a>，我们会尽快与您联系，感谢信任与支持。
			</div>
		</div>
		<div class="instrobox instrobox2 left">
			<div class="instroTitle">媒体报道</div>
			<div class="instroInfo">
				如果有媒体采访需求，请将您的媒体名称、采访内容以及联系方式发送至
				<a class="emailLink" href="javascript:void(0);">pr@lebaidai.com</a>,我们会第一时间与您取得联系。  
			</div>
		</div>
	</div>

</div>