<script type="text/javascript" src="/dist/javascripts/aboutUs/developmentFootprint_control.min.js?v=3d94989d1a"></script>
<div class="footprint">
	<div class="title">发展足迹 </div>
	<div class="footprintInfo">
		<div class="clearfix">
			<div class="left timeYear" data-flag='1'>
				<a href="javascript:void(0);" class="year">2016年</a>
				<em class="showBtn"></em> 
			</div>
			<div class="left timeMonth">
				<div><em class="timeIcon"></em></div>
				<div class="showbox">
					<div><em class="timelineShort"></em></div>
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">6月</p>
							<p class="monthText">乐百贷1周年</p>
						</div> 
					</div>
					<div><em class="timelineLong"></em></div>
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">4月</p>
							<p class="monthText">新官网改版升级</p>
						</div> 
					</div>
				</div> 
				<div><em class="timelineLong"></em></div> 
			</div>
		</div>
		<div class="clearfix">
			<div class="left timeYear" data-flag='1'> 
				<a href="javascript:void(0);" class="year">2015年</a>
				<em class="showBtn"></em> 
			</div>
			<div class="left timeMonth">
				<div><em class="timeIcon"></em></div>
				<div class="showbox">
					<div><em class="timelineShort"></em></div>
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">10月</p>
							<p class="monthText">散标上线</p>
						</div> 
					</div>
					<div><em class="timelineLong"></em></div>
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">7月</p>
							<p class="monthText">乐存宝、乐计划上线</p>
						</div> 
					</div>
					<div><em class="timelineLong"></em></div> 
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">6月</p>
							<p class="monthText">乐百贷PC端上线</p>
						</div> 
					</div>
					<div><em class="timelineLong"></em></div>  
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">4月</p>
							<p class="monthText">乐百贷公众号上线</p>
						</div> 
					</div>
				</div> 
				<div><em class="timelineLong"></em></div>  
			</div>
		</div>
		<div class="clearfix">
			<div class="left timeYear" data-flag='1'> 
				<a href="javascript:void(0);" class="year">2014年</a> 
				<em class="showBtn"></em> 
			</div>
			<div class="left timeMonth">
				<div><em class="timeIcon"></em></div>
				<div class="showbox">
					<div><em class="timelineShort"></em></div>
					<div class="timeInfo">
						<em class="timeIconSmall"></em>
						<div class="timeText">
							<p class="month">11月</p>
							<p class="monthText">乐百贷正式成立并注册</p>
						</div> 
					</div> 
				</div>
			</div>
		</div>
		
	</div>
</div>