<script type="text/javascript" src="/dist/javascripts/aboutUs/industryNews_control.min.js?v=1f2116159d"></script>
<div class="industryNews">
	<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
	<div class="title">行业资讯</div>
	<div class="industryNewsList">
		<ul id="listHtml">
			<!-- <li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li>
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li>
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li>
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a href="javascript:void(0);">支付宝和全球银行双11“憋大招” 一秒成功支付5.4万笔支付宝和全球银行双11“憋大招” 一秒成功</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> -->
		</ul>
	</div>
	<div class="lmy_investPage">
		<div id="newsListPage"></div>
	</div>
</div>