<script type="text/javascript" src="/dist/javascripts/aboutUs/joinUs_control.min.js?v=6d415c6489"></script>
<div class="joinUs">
	<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
	<div class="title">
		加入我们
	</div>
	<div class="joinText">
		<p>我们是一个充满激情和梦想的团队，吸引了来自金融及信息科技领域的顶尖人才。我们的理念是勇于拼搏，不断创新；我们的目标是在潜力巨大的互联网金融领域成为行业的领袖。在公司迅速扩张的时期，我们需要优秀的人才加入我们的团队。如果你有开拓精神并渴望迎接新的挑战，请加入我们，你可以获得宝贵的在创新前沿的工作经历；加入我们，你将拥有一个光明的未来。</p>
		<p class="email">请发送您的简历至<a class="emailLink" href="javascript:void(0);">HR@lebaidai.com</a>，标题请注明所申请职位</p>
	</div>
	<div class="recruitInfo">
		<div class="recruitTitle">
			招聘岗位
		</div>
		<div class="recruitName">
			<!-- 目前修改为静态 等后台完成直接改此处代码 --> 
			<!-- <ul class="clearfix" id="recruitNamelist"> -->
			<ul class="clearfix"> 
				<li class="selected">产品经理</li>
				<!-- <li>UI设计师</li>
				<li>产品经理</li>
				<li>售后客服</li>
				<li>ios开发</li>
				<li>用户数据分析师</li>
				<li class='last'>网页设计师</li> -->
			</ul>
			<div class="slideBorder"></div>
		</div>
		<!-- 目前修改为静态 等后台完成直接改此处代码 -->
		<!-- <div id="recruitContent"> -->
		<div>
			 <div id='tab0' class="recruitDesp show">
				<div class="duty"> 
					<div class="secondTitle">岗位职责：</div>
					<p>1、负责P2P网络平台借贷两端产品线规划、产品设计、业务流程设计、功能设计、产品优化等工作；</p>
					<p>2、根据集团整体战略，制定互联网金融产品需求计划，进行可行性分析及设计，撰写产品功能需求说明书，负责需求的跟踪和控制；</p>
					<p>3、管理及制定互联网金融产品业务规范，整理完善产品文档、业务流程及相关内容；</p>
					<p>4、负责互联网金融产品日常业务数据分析，设计产品商务模型，推广营销模型，跟进产品销售、客户反馈；</p>
					<p>5、关注行业的最新发展、市场需求、用户反馈和产品功能，并进行调研分析，提供应对方案，改进相关产品，提升用户体验，提高用户活跃度和用户转化率；</p>
					<p>6、实施产品生命周期管理，持续提升产品竞争力，控制成本、提升利润；</p>
					<p>7、管理及协调产品运营及产品研发团队，重视产品与运营数据，及时调整产品重点，促进版本迭代更新，保证产品不断优化。</p> 
				</div>
				<div class="jobRequirement"> 
					<div class="secondTitle">任职要求：</div> 
					<p>1、大专以上学历，3年以上产品设计和产品管理工作经验，至少半年以上P2P网贷平台产品从业经验；</p>
					<p>2、熟悉产品实施过程，包括市场分析、需求分析、产品功能设计、业务流程设计、界面设计、用户研究和可用性测试等。</p>
					<p>3、精通用户体验、交互设计及信息架构，有成功的产品经验；</p>
					<p>4、具有良好的沟通能力、推动能力、协调能力，拥有强烈的责任心和清晰的逻辑思维分析能力，有较强的表达能力和文字功底；</p>
					<p>5、输出高质量PRD、MRD、BRD、流程图、原型设计、竞品分析等文档。</p> 
				</div>
			</div>
			<!--<div id="tab1" class="hide">
				1
			</div>
			<div id="tab2" class="hide">
				2
			</div>
			<div id="tab3" class="hide">
				3
			</div>
			<div id="tab4" class="hide">
				4
			</div>
			<div id="tab5" class="hide">
				5
			</div>
			<div id="tab6" class="hide">
				6
			</div>
			<div id="tab7" class="hide">
				7
			</div>  -->
		</div>
		 
	</div>
</div>