 <script type="text/javascript" src="/dist/javascripts/aboutUs/newsInfo_control.min.js"></script> 
<div class='newsInfo'>
	<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
	<input type="hidden" name="type" id="type" value="<%=type%>"/>
	<input type="hidden" name="newsId" id="newsId" value="<%=newsId%>"/>
	<div class="website">
		<a href="javascript:void(0);" id="history"></a>
		<span>></span>  
		<span id="titletip"></span>
	</div>
	<div class="infoMain">
		<h3 id="title"></h3>
		<div class="infoTime">
			<span>时间：<span class="time" id="time"></span></span>
			<span class="viewCount">浏览量：<span id="viewCount"></span></span>
		</div>
		<div class="infoContent" id="infoContent">
			<!-- <p>尊敬的投资人：</p>
			</br>
			</br> 
			<p>您好！</p>
			</br>
			</br> 
			<p>根据国家对P2P行业的合规要求，为保障用户资金准确安全，现平台将此前投资的“乐计划”项目提现方式作T+3处理，即：用户发起提现后三天</p>
			<p>内完成交易。特此通知，给您带来的不便敬请谅解。</p>
			</br>
			</br>
			<p>微信公众平台：lebaidai</p>
			</br>
			</br>
			<p>祝您生活愉快，我们会做的更好，谢谢！</p> 
			</br> 
			<p style="text-align:right;">乐百贷团队</p>
			<p style="text-align:right;">2016年10月24日</p> -->
		</div>
	</div>
</div>
