<script type="text/javascript" src="/dist/javascripts/aboutUs/platformProtocol_control.min.js?v=0f77f6c085"></script>
<div class="industryNews">
	<input type="hidden" name="_csrf" id="_csrf" value="<%=_csrf%>"/>
	<div class="title">平台协议</div>
	<div class="industryNewsList">
		<ul id="listHtml">
			<!-- <li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a class="protocolLink" href="javascript:void(0);">乐百贷用户协议V1.1.0</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a class="protocolLink" href="javascript:void(0);">投资风险提示书V1.0.0</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li> 
			<li class="industryNewsInfo">
				<em class="icon icon-labout_point"></em>
				<a class="protocolLink" href="javascript:void(0);">借款协议V1.0.0</a>
				<span class="newsDate right">2016-08-03  19:10:00</span>
			</li>   -->
		</ul>
	</div>
	<!-- <div class="lmy_investPage">
		<div id="newsListPage"></div>
	</div> -->
</div>