<script type="text/javascript" src="/dist/javascripts/aboutUs/team_control.min.js?v=d41d8cd98f"></script>
<div class="shareholder">
	<div class="title">
		股东介绍
	</div>
	<div class="shareholderImg">
		<img src="../dist/images/aboutUs/shareholder.jpg?v=55e5f81d08">
	</div>
	<div class="shareholderText">
		<p>仁远集团始创于2010年，创建至今，秉承“以仁为本、任重致远”为企业理念，致力于投资中国市场，坚持“开拓创新、价值投资”为企业口号，核心业务定位于初创期风险投资、扩展期成长投资、孵化器项目投资和养老休闲度假服务类项目投资。</p>	
		<p>仁远集团深刻理解中国本土市场特点，重点投资于运作主体在中国及市场与中国相关的创新、成长型企业。并且通过资本和管理的帮助，促进企业创新与成长，在推动产业进步和社会发展中，快速成为投资领域焦点，成功投资领域涉及科技型初创企业、潜力型成长企业、休闲度假类项目以及养老服务类项目。</p>	
		<p>集团始终追求长期价值投资，与众多行业领导企业保持长期紧密的合作关系。除为企业发展提供成长资金外，还在吸纳优秀人才、建立现代企业制度、寻找战略合作伙伴等方面为企业提供专业支持、经验和资源。</p>	
		<p>仁远集团将坚持以市场为导向，以创新为动力，以品牌经营为核心，以资本运营为手段，力争将企业建设成为帮客户提供初创期投资——成长期投资——度假休闲——养老服务的全产业链服务的投资集团，实现仁远集团在新的历史时期不断超越自我的历史使命。</p>	
		<p>平台成立之初注册资本100万元，2015年1月份追加到1000万元，2015年9月追加到1亿。目前平台实缴注册资本1亿元。</p>	
		<p>仁远集团为最大股东，投资金额9900万元，王仁董事长投资100万元。</p>
	</div>
	<div class="shareholderIcon clearfix">
		<div class="left divbox">
			<div class="clearfix divbox1">
				<div class="left">
					<img src="../dist/images/aboutUs/creatTime.png?v=df706c9d5d">
				</div>
				<div class="left icontext">
					<p class="ptitle">创始时间</p>
					<p>2010年</p>
				</div>
			</div>
		</div>
		<div class="left divbox">
			<div class="clearfix divbox2">
				<div class="left">
					<img src="../dist/images/aboutUs/enterpriseIdea.png?v=821e0bd85d">
				</div>
				<div class="left icontext">
					<p class="ptitle">企业理念</p>
					<p>以仁为本，任重致远</p>
				</div>
			</div>
		</div>
		<div class="left divbox">
			<div class="clearfix divbox3">
				<div class="left">
					<img src="../dist/images/aboutUs/slogan.png?v=b04e8aaaa2">
				</div>
				<div class="left icontext">
					<p class="ptitle">企业口号</p>
					<p>开拓创新，价值投资</p>
				</div>
			</div>
		</div>
	</div>

</div>