<script type="text/javascript" src="/dist/javascripts/aboutUs/team_control.min.js?v=d41d8cd98f"></script>
<div class="team">
	<div class="title">
		团队介绍
	</div>
	<div class="frameworkTitle">
		乐百贷组织架构图
	</div>
	<div class="frameworkImg">
		<img src="../dist/images/aboutUs/framework.png?v=545cc2e7a8">
	</div>
	<div class="teamTitle">
		乐百贷管理团队
	</div>
	<div class="teamlist"> 
		<div class="teamContent clearfix">
			<div class="left teamImg">
				<img src="../dist/images/aboutUs/teamPhoto.jpg?v=59b2a99332">
			</div>
			<div class="left teamText">
				<div><span class="teamName">崔剑</span><span class="teamPosition">执行总经理</span></div>
				<div class="teamIntro"> 
					<p>具有十余年知名IT领域公司战略规划构建、运营实施推动的工作履历，具备经济学、金融学、管理学等多学科理论基础和实践工作经验，且具备优秀的战略规划、统筹分析能力，良好的沟通、协调和组织能力。</p> 
					<p>对互联网领域有深入的研究和理解，对于制定企业发展战略和对外商务拓展有超高水平，带领团队在管理、运营、市场等方面均取得优秀成绩。他表示，不单单是互联网金融的萌生受到网络科技的影响，传统行业都在进行变革。互联网是创新创造的核心力量，未来的几十年都是互联网世界和现实世界的完美契合，互联网将会改变我们的生活。<p>  
				</div>
			</div>
		</div>
		<div class="teamContent clearfix">
			<div class="left teamImg">
				<img src="../dist/images/aboutUs/teamPhoto.jpg?v=59b2a99332">
			</div>
			<div class="left teamText">
				<div><span class="teamName">李雪峰</span><span class="teamPosition">产品总监</span></div>
				<div class="teamIntro">
					<p>在产品设计领域工作多年，其中有四年的P2P网贷平台产品设计和运营经验。对于网贷平台系统有着深入研究，包括信息流、资金流、业务流等多个维度。曾成功指导平台网贷系统PC端和移动端（APP、WAP、微信）顺利完成上线运营，且团队管理经验丰富。优秀的产品人作风，致力于网贷平台行业深入发展。</p> 
				</div>
			</div>
		</div>
		<div class="teamContent clearfix">
			<div class="left teamImg">
				<img src="../dist/images/aboutUs/teamPhoto.jpg?v=59b2a99332">
			</div>
			<div class="left teamText">
				<div><span class="teamName">谢卫东</span><span class="teamPosition">首席风控官</span></div>
				<div class="teamIntro">
					<p>本科学历，现任公司首席风控官。1989.05— 2015.07 工作单位：农业银行，职务：高级风险合规经理2015.08月加入乐百贷，现任职：首席风控官职务。26年金融从业经验，一直从事风险管理工作，历任副科长、专职审议人、分行贷审会专家委员、高级风险合规经理等职务，具备高超的风险管理水平。</p> 
				</div>
			</div>
		</div>
		<div class="teamContent clearfix">
			<div class="left teamImg">
				<img src="../dist/images/aboutUs/teamPhoto.jpg?v=59b2a99332">
			</div>
			<div class="left teamText">
				<div><span class="teamName">罗昱荣</span><span class="teamPosition">技术总监</span></div>
				<div class="teamIntro">
					<p>近10年的IT工作经验，在技术队伍的建设和管理，人员配置与协调，项目进展的监控等方面有丰富的团队管理经验长期的系统优化经历，对分布式集群，高并发架构设计以及各种治理解决方案有丰富实践，在整体架构、技术路线选择上有丰富经验。熟练掌握大数据基础架构，丰富的数据挖掘实践经验，曾先后在一线互联网公司及软件系统开发公司进行技术创新，对互联网前沿技术有开阔的视野，对新技术保持开放心态。</p> 
				</div>
			</div>
		</div>
	</div>
</div>